.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(1 / 96 * 100);
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0 0 32px;
  max-width: 720px;
  display: flex;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: calc(1 / 40 * 44);
    padding-bottom: 16px;
  }
}
