.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(1 / 72 * 76);
  color: #fff;
  max-width: 560px;
  margin: 0;
  padding: 0 0 32px 0;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 250px;
    padding-bottom: 16px;
    font-size: 32px;
    line-height: calc(1 / 32 * 35);
  }
}
